@import "../App.scss";

.cronometro{
    background-color: $backgroundcolorlighter;
    margin: 15vh auto;
    max-width: 50vw;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
}

.time{
    color: $textcolor;
    font-size: 5rem;
}

.cronometro-btn{
    background-color: $buttoncolor;
    padding: 0;
    color: $textcolor;
    font-family: $main-font;
    font-size: 2rem;
    border: none;
    border-radius: 3px;
    margin: 15px;
    width: 70px;
    height: 60px;
    &:active{
        transform: scale(0.98);
    }
}